$red: red;
$white: #fff;
$lightBlue: #007bff;
$darkBlue: #0056b3;
$grey: #f7f7f7;
$bgColor2: #DEDEDE;
$borderStyle: 1px solid #ccc;
$inputPadding: 10px;
$inputRadius: 5px;
$influactiveMarginBottom: 15px;

%interactableElem { // mixin for elements having common characteristics
  text-decoration: none;

  &:hover {
    color: $darkBlue;
  }
}

#influactive_form_fields_container {
  padding: 15px;
  background-color: $grey;
  margin-bottom: $influactiveMarginBottom + 5;
  border-radius: 5px;
}

.influactive_form_field {
  border: $borderStyle;
  padding: $inputPadding;
  margin-bottom: $influactiveMarginBottom;
  border-radius: $inputRadius;

  &:nth-child(even) {
    background-color: $bgColor2;
  }

  label {
    display: block;
    margin-bottom: 5px;
    cursor: grab;
  }

  input[type="text"], select {
    width: 100%;
    padding: $inputPadding;
    border: $borderStyle;
    border-radius: $inputRadius;
  }

  .options_container, .option-field {
    margin-bottom: 10px;
  }

  a.remove_field, a.remove_option {
    color: $red;
    margin-left: 10px;
    @extend %interactableElem;
  }
}

#add_field {
  padding: 10px 15px;
  background-color: $lightBlue;
  color: $white;
  text-decoration: none;
  border-radius: $inputRadius;
  display: inline-block;

  &:hover {
    background-color: $darkBlue;
  }
}

.add_option {
  color: $lightBlue;
  margin-left: 10px;
  @extend %interactableElem;
}
